.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 30px;
  background-color: white;
  max-width: 90vh;
  border: 1px black solid;
}

.main-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: fit-content;
  margin-bottom: 25px;
  padding: 0 30px;
}

.main-cart button {
  bottom: 10px;
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 5px 10px;
  transition: all 0.2s;
  cursor: pointer;
}

.main-cart button:hover {
  background-color: white;
  color: black;
}

.your-nfts-text {
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
}
