header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 45px;
  padding: 0 20px 0 20px;
}

.header-buttons {
  display: flex;
  gap: 15px;
}

header h1 {
  color: white;
  font-size: 30px;
}

header button {
  background-color: transparent;
  border: 0;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

header button:hover {
  cursor: pointer;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;

  background-image: url('./imgs/wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.visit-shop-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 30px;
}

.visit-shop-button:hover {
  cursor: pointer;
}

.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('./imgs/shop-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.shop-items {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 80px;
  row-gap: 50px;
  margin-bottom: 25px;
  margin-top: 10px;
  background-color: white;
}

.item {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  transition: all 0.4s;
  cursor: pointer;
}

.item:hover {
  transform: scale(1.04);
}

.item h2 {
  margin: 10px;
}

.item h3 {
  margin: 0;
}

.img-holder {
  width: 300px;
  height: 350px;
  display: flex;
  justify-content: center;
}

.item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}
