:root {
  background-image: url('./imgs/shop-background.jpg');
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 45px;
  padding: 0 25px 0 25px;
}

.header-buttons {
  display: flex;
  gap: 15px;
}

header h1 {
  color: white;
  font-size: 30px;
}

header button {
  background-color: transparent;
  border: 0;
  font-weight: bold;
  font-size: 25px;
  color: white;
}

header button:hover {
  cursor: pointer;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 100vh;
  width: 100%;

  background-image: url('./imgs/wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.visit-shop-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: black;
  color: white;
  font-weight: bold;
  font-size: 30px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.visit-shop-button:hover {
  /* color: black; */
  background-color: transparent;
  border: 1.5px white solid;
}

.shop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('./imgs/shop-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}
.shop-items {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  column-gap: 80px;
  row-gap: 50px;
  margin-bottom: 25px;
  margin-top: 10px;
  background-color: white;
}

.item {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  transition: all 0.4s;
  padding-bottom: 8px;
  cursor: pointer;
  color: black;
}

.item:hover {
  transform: scale(1.04);
}

.item h2 {
  margin: 10px;
}

.item h3 {
  margin: 0;
}

.item a {
  text-decoration: none;
}

.img-holder {
  width: 300px;
  height: 350px;
  display: flex;
  justify-content: center;
}

.item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.player-page {
  background-image: url('./imgs/shop-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.player-item {
  display: flex;
  column-gap: 15px;
}

.img-holder-player-page {
  width: 500px;
  height: 550px;
  display: flex;
  justify-content: center;
  position: relative;
  border: 2px solid black;
}

#addToCartButton {
  background-color: black;
  color: white;
  font-size: 25px;
  padding: 5px 10px;
  font-weight: 600;
  transition: all 0.2s;
  cursor: pointer;
}

#addToCartButton:hover {
  color: black;
  background-color: white;
}

.player-item img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.player-discription p {
  font-weight: bold;
}

/* Empty Cart */

.empty-cart {
  border: 1px solid black;
  width: fit-content;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.empty-cart button {
  bottom: 10px;
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 5px 10px;
  transition: all 0.3s;
  cursor: pointer;
}

.empty-cart button:hover {
  color: black;
  background-color: white;
}

.empty-cart p {
  font-weight: bold;
  font-size: 25px;
}

/* Cart */

.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  background-color: white;
  width: fit-content;
  border: 1px black solid;
}

.main-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70vh;
  height: fit-content;
  margin-bottom: 25px;
}

.main-cart button {
  bottom: 10px;
  background-color: black;
  color: white;
  font-size: 15px;
  padding: 5px 10px;
  transition: all 0.2s;
  cursor: pointer;
}

.main-cart button:hover {
  background-color: white;
  color: black;
}

.your-nfts-text {
  font-size: 20px;
  background-color: black;
  color: white;
  padding: 5px 10px;
  font-weight: bold;
}

.cart-item {
  display: flex;
  margin-bottom: 15px;
  gap: 15px;
  border: 1px solid black;
  padding-right: 15px;
}

.cart-item p {
  font-weight: bold;
}

.cart-image-holder {
  width: 200px;
  height: 250px;
  display: flex;
  justify-content: center;
}

.cart-image-holder img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* Footer */
footer {
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 50px;
  font-weight: 600;
  width: 100%;
  margin-top: auto;
}

footer img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}
