body {
  background-image: url('../imgs/wallpaper.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  color: white;
}

header button {
  background-color: transparent;
  border: 0;
  font-weight: bold;
  font-size: 25px;
}

header button:hover {
  cursor: pointer;
}
